
<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="header">
    <a href="/"><img src="https://i.ibb.co/nbK3DMX/Screen-Shot-2020-04-06-at-5-04-58-PM.png" alt="logosmall" border="0" width="300" class="logo"></a>
</div>
<div class="header">
    <img src="https://i.ibb.co/mBxxMLH/Screen-Shot-2020-04-06-at-5-05-41-PM.png" alt="title" border="0">
</div>

<div class="header">
    <label for="states" style="font-size: 30px;">Choose a state:</label>
    <select id="states">
        <option value="MD">Maryland</option>
    </select>
</div>
<div class="header">
    <button class="topcorner view-country">View Country</button>
</div>
<div class="text-xs-center">
    <a href="/main" class="button">Current Distribution</a>
    <a href="/main" class="button">Democratic</a>
    <a href="/swing" class="button">Swing</a>
    <a href="/rep" class="button">Republican</a>
</div>
<br>
<div class="aside">
    <p> 
        Congressional District: 1 <br>
        Democratic Percentage: 34.798775211699244 <br>
        Republican Percentage: 48.930185459523315
    </p>
    <p> 
        Congressional District: 2 <br>
        Democratic Percentage: 59.7004892842069 <br>
        Republican Percentage: 24.904409810695473 
    </p>
    <p> 
        Congressional District: 3 <br>
        Democratic Percentage: 57.083336868991154 <br> 
        Republican Percentage: 25.54017780116026 
    </p>
    <p> 
        Congressional District: 4 <br>
        Democratic Percentage: 70.77441259865273 <br>
        Republican Percentage: 16.908971603667382 
    </p>
    <p> 
        Congressional District: 5 <br>
        Democratic Percentage: 60.059327034214085 <br>
        Republican Percentage: 25.310712544084407
    </p>
    <p> 
        Congressional District: 6 <br>
        Democratic Percentage: 46.37777726050675 <br>
        Republican Percentage: 33.791506150999176
    </p>
    <p> 
        Congressional District: 7 <br>
        Democratic Percentage: 68.98895032657114 <br>
        Republican Percentage: 17.980390549325755
    </p>
    <p> 
        Congressional District: 8 <br>
        Democratic Percentage: 53.7131662764454 <br>
        Republican Percentage: 27.43624628235145
    </p>
</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
{% extends 'originalgeo.html' %}