<!--
    @author: Kristina Bridgwater

    This file describes the layout of the welcome page of the app. It includes the logo, google, captcha, terms and conditions agreement, and continue button
-->

{% extends 'cmsc447layout.html' %}
<head>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
{% block body %}
    <div class="text-xs-center">
        <img src="https://i.ibb.co/Xbp5wS8/gtlogobig.png" alt="gtlogobig" border="0">
    </div>
    <br>
    <div class="text-xs-center">
        <p>Welcome to the t3am Gerrymandering Tool. Our goal was to make a tool that will redistribute the districts base on the party selection you click on. Please accept our terms and conditions and proceed to the next page. </p>
    </div>

    <div class="text-xs-center">
        <form method="POST" action="#" onsubmit="if(document.getElementById('agree').checked) { return true; } else { alert('Please indicate that you have read and agree to the Terms of Service'); return false; }">
            {{ form.csrf_token }}
            <input type="checkbox" name="checkbox" value="check" id="agree" /> I have read and agree to the Terms of Service as listed <a href="/terms">here</a>
            {{ form.recaptcha }}
            <br>
            <input type="submit" name="submit" value="Continue to Gerrymandering Tool">
        </form>
    </div>



{% endblock %}
