<!--
@author: Kristina Bridgwater
    
This file contains the layout for the main page for the swing distribution
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="header">
    <a href="/"><img src="https://i.ibb.co/nbK3DMX/Screen-Shot-2020-04-06-at-5-04-58-PM.png" alt="logosmall" border="0" width="300" class="logo"></a>
</div>
<div class="header">
    <img src="https://i.ibb.co/mBxxMLH/Screen-Shot-2020-04-06-at-5-05-41-PM.png" alt="title" border="0">
</div>

<div class="header">
    <label for="states" style="font-size: 30px;">Choose a state:</label>
    <select id="states">
        <option value="MD">Maryland</option>
    </select>
</div>
<div class="header">
    <button class="topcorner view-country">View Country</button>
</div>
<div class="text-xs-center">
    <a href="/main" class="button">Current Distribution</a>
    <a href="/main" class="button">Democratic</a>
    <a href="/swing" class="button">Swing</a>
    <a href="/rep" class="button">Republican</a>
</div>
<br>

<div class="aside">
    <p> 
        Congressional District: 1 <br>
        Democratic Percentage: 85.7209156 <br>
        Republican Percentage: 14.2790844    </p>
    <p> 
        Congressional District: 2 <br>
        Democratic Percentage: 87.50873893 <br>
        Republican Percentage: 12.49126107
    </p>
    <p> 
        Congressional District: 3 <br>
        Democratic Percentage: 69.95208443 <br> 
        Republican Percentage: 30.04791557
    </p>
    <p> 
        Congressional District: 4 <br>
        Democratic Percentage: 71.07157265 <br>
        Republican Percentage: 28.92842735
    </p>
    <p> 
        Congressional District: 5 <br>
        Democratic Percentage: 48.2308825 <br>
        Republican Percentage: 51.7691175
    </p>
    <p> 
        Congressional District: 6 <br>
        Democratic Percentage: 47.95769188 <br>
        Republican Percentage: 52.04230812
    </p>
    <p> 
        Congressional District: 7 <br>
        Democratic Percentage: 46.25460297 <br>
        Republican Percentage: 53.74539703
    </p>
    <p> 
        Congressional District: 8 <br>
        Democratic Percentage: 36.43061396 <br>
        Republican Percentage: 63.56938604
    </p>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
{% extends 'swinggeo.html' %}